body, html {
  background-color: #222222;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: blue;
}

.navbar {
  width: 100%;
  height: 64px;
  background-color: #EEEEEE;
}

.center {
  width: 100%;
  position: fixed;
  text-align: center;
  margin-top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 500px) {
  .center {
    margin-top: 250px;
  }
}

/*.logo {
  width: 64px;
  height: 64px;
  background: url("../images/logo.png") no-repeat left;
  background-size: contain;
  margin: 0px 30px;
}*/

img.logo {
  padding-left: 20px;
  padding-top: 8px;
  width: 105px;
  height: 46px;
  margin: 0;
}

.avatar {
  width: 150px;
  border-radius: 100%;
}

.the_user {
  padding-top: 5px;
  color: #EEEEEE;
  font-size: 6vmin;
}

.username {
  color: yellow;
}

footer {
  position: absolute;
  bottom: 0px;
  background-color: #EEEEEE;
  width: 100%;
  height: 32px;
  line-height: 32px;
  text-indent: 12px;
}

a.button {
  font-size: 5vmin;
  font-family: 'Montserrat', sans-serif;
  transition: 0.5s ease;
}

i.button:after {
  content: ' | ';
  padding-right: 5px;
}

.button_title {
  font-size: 3vmin;
}

a.button {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.patreon {background:#E6461A;}
.patreon:hover {background:rgba(230, 70, 26, 0.5); transition: 0.5s ease;}
.white-text {color:white;}
